body{
    font-family: 'Helvetica Neue', serif;
}

h1{
    text-align: center;
}

h2{
    color: black;
    cursor: pointer;
}

div{
    margin: 2rem 5rem;
    padding: 10px 10px;
    border: 3px solid #6495ed;
}

.content{
    margin: 0;
    padding: 0;
    border: none;
}

a{
    text-decoration: none;
}

.done{
    color: green;
}

.not_done{
    color: red;
}