{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/to_do.css' %}">
</head>
<body>
    <h1>ToDo App</h1>
    {% for to_do in todos %}
        <div class="to_do_item">
            <h2>{{ to_do.title }}</h2>
            <p><i>{{ to_do.description }}</i></p>
            {% if to_do.is_done %}
                <a href="#" class="done">Task done</a>
                {% else %}
                <a href="#" class="not_done">Task not done</a>
            {% endif %}
        </div>
    {% endfor %}
</body>
</html>